
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
}
body {
  /* background: #eee; */
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  /* padding: 0 16px; */
  /* background: #c0d2d4 */
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
    background-color:  #c0d2d4 ;
    color: BLACK;
    /* margin: auto -16px; */
    padding: 16px 32px; 
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */

  }


  .colored-section {
    background-color: whitesmoke;
    color: black;
  }

  .white-section {
    background-color:#c0d2d4;
    color:black ;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  

  /* .container-fluid{
    padding: 7% 15%;
  } */


  .container1{
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 2rem ;
  max-width: 90%;
  /* padding: 2rem; */
  }

  p{
    text-align: justify;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 2rem;
  }

  .carousel-control-prev {
    left: 0;
    margin: -4rem;
}

.carousel-control-next {
  right: 0;
  margin: -3rem;
}



  .left-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2rem;
  max-width: 90%;
  }

  .left-card-body{
  text-align: center;
  max-width: 50rem;
  padding-top: 1rem;
  max-height: 17rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  }
 
  .form-label{
    margin-top: 0.2rem;

  }

  /* .container overflow-hidden{
  background-color: white;
  } */

  .card-bottom{
    margin-top: 2rem;
    text-align: center;
    max-width: 50rem;
    max-height: 6rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

  }

  button{
  border: 10px;
  margin-left: 10px;
  margin-right: -2rem;
  padding: 10px 15px;
  margin-top: 0.4rem;

  }

 .selectCrypto{
  margin-top: -4rem;
  margin-left: 15rem;
  margin-right: -13rem;
 } 
  
  
  .right-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  }

  .right-card-body{
    text-align: center;
    height: 23rem;
    max-width: 23rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
    }

    .right-card p{
      text-align: justify;
      margin: 0rem;
      margin-left: 0rem;
      margin-right: 0rem;
      margin-top: 1rem;
      font-size: 1rem;
      /* line-height: 1.5; */
      padding: 0rem;

    }

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 100px;
  width: 100px; */
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

  .footer {
    position: inherit;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* background-color: whitesmoke */
  }

  .footer p{
    text-align: center;
    margin-top: 1rem;
    padding: 0rem;

  }


  @media screen and (min-width:300px) and (max-width: 800px) {
    .right-card .right-card-body {
      /* width: 100%; */
      margin-top: 150px;
      flex-wrap: nowrap;
    }
    body{
      overflow-x: hidden;
    }

    .left-card-body{
      height:60rem;
    }
  }