/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #eee; */
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  padding: 0 16px;
}

.header {
    /* background-color: #f5ba13; */
    /* margin: auto -16px; */
    padding: 16px 32px; 
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */

  }

/* .right-side {
  border: solid 2px blue;
  margin-left: 100px;
  min-height: 300px;
  }

.left-side {
  background-color: #0FF;
  width: 80px;
  position: absolute;
  margin-right: 100px;
  top: 110px;
  min-height: 300px;
  } */

  .colored-section {
    background-color: #ff4c68;
    color: #fff;
  }

  .white-section {
    background-color: #fff;
  }
  

  /* .container-fluid{
    padding: 7% 15%;
  } */


  .container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem ;
  max-width: 90%;
  /* padding: 2rem; */
  }

  .container2{
    margin-top: 3rem;
  }

  .left-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 2rem; */
  max-width: 90%;
  }

  .left-card-body{
  text-align: center;
  max-width: 50rem;
  padding-top: 1rem;
  height: 17rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  }

  .container overflow-hidden{
  background-color: white;
  }

  .card-bottom{
    margin-top: 1rem;
    text-align: center;
    width: 50rem;
    height: 6rem;
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1); */
    background-color: #fff;

  }

  button{
  border: 10px;
  margin-left: 10px;
  padding: 10px 15px;

  }

 .selectCrypto{
  margin-top: -3rem;
 } 
  
  
  .right-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  }

  .right-card-body{
    text-align: center;
    height: 20rem;
    height: 23rem;
    width: 23rem;
    padding: 2rem;
    border-radius: 3px;
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
    transition: all 100ms ease-in-out;
    }

  .footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
