/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #eee; */
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  /* padding: 0 16px; */
  /* background: #c0d2d4 */
  width: 100%;
  overflow-x: hidden;
}

.header {
    background-color:  #c0d2d4 ;
    color: #fff;
    /* margin: auto -16px; */
    padding: 16px 32px; 
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */

  }


  .colored-section {
    background-color: whitesmoke;
    color: black;
  }

  .white-section {
    background-color:#c0d2d4;
    color:black ;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  

  /* .container-fluid{
    padding: 7% 15%;
  } */


  .container1{
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 2rem ;
  max-width: 90%;
  /* padding: 2rem; */
  }

  p{
    text-align: justify;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1rem;
  line-height: 1.5;
  }

  .carousel-control-prev {
    left: 0;
    margin: -4rem;
}

.carousel-control-next {
  right: 0;
  margin: -3rem;
}



  .left-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2rem;
  max-width: 90%;
  }

  .left-card-body{
  text-align: center;
  max-width: 50rem;
  padding-top: 1rem;
  max-height: 17rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  }
 

  /* .container overflow-hidden{
  background-color: white;
  } */

  .card-bottom{
    margin-top: 2rem;
    text-align: center;
    max-width: 50rem;
    max-height: 6rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

  }

  button{
  border: 10px;
  margin-left: 10px;
  padding: 10px 15px;

  }

 .selectCrypto{
  margin-top: -3rem;
 } 
  
  
  .right-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  }

  .right-card-body{
    text-align: center;
    height: 23rem;
    max-width: 23rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
    }

 

  .footer {
    position: inherit;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* background-color: whitesmoke */
  }

  .footer p{
    text-align: center;
    margin-top: 1rem;

  }


  @media screen and (max-width: 800px) {
    .right-card .right-card-body {
      /* width: 100%; */
      margin-top: 150px;
      flex-wrap: nowrap;
      
    }

    body{
      overflow-x: hidden;
}
  }



  @media screen and (max-width: 800px) {
    .right-card .right-card-body{
      /* width: 100%; */
      margin-top: 150px;
      flex-wrap: nowrap;
    }
  }